* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
.title__main h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.title__main span {
  color: #ff6e65;
}
.title__main h3::before {
  content: "";
  background-color: #b7b7b7;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}
.title__main h3::after {
  content: "";
  background-color: #b7b7b7;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}
:root {
  --colorMain: #0d369f;
}
.container {
  max-width: 1200px !important;
}
.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}
/*! ========== header ========== */

/*!= header__top ==================== */
.header__top {
  padding: 14px 15px;
  background-color: #0d369f;
}

.header__top--common ul li {
  display: inline-block;
  margin-right: 2em;
  transition: all 0.5s;
}
.header__top--common ul li a {
  color: #fff;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 2rem;
  transition: all 0.5s;
}
.header__top--left ul li i {
  margin-right: 8px;
  color: #fff;
}
/*! ===================== header__top */
/*! ================================= */
/*! header__main ==================== */
.header__main {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 600;
  color: var(--colorMain);
}
.header__main .navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 6px 0;
  font-size: 16px;
  color: #060606;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
}
.navbar .search-right {
  margin: 0 10px 0 10px;
}
.navbar form.search-box {
  display: flex;
  align-items: center;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar form.search-box input {
  font-size: 15px;
  color: var(--heading-color);
  border: none;
  background: transparent;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
button.search-btn {
  position: absolute;
  color: #0d369f;
  right: 0;
  padding: 0px 20px 0px 0px;
  background-color: transparent;
  border: none;
}
button.search-btn:hover {
  background-color: transparent !important;
  border: none !important;
  color: #ff6e65 !important;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navbar form.search-box input {
  font-size: 15px;
  color: #060606;
  border: none;
  background: transparent;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
.nav-item .active {
  color: #ff6e65 !important;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ff6e65;
}
/*! switch light/dark ====================  */
.light-dark {
  border: none !important;
  background-color: transparent !important;
}
.light-dark i {
  font-size: 20px;
}
#myBody {
  background-color: white;
}

#switchButton {
  background-color: white;
  border: 1px solid black;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
/* Dark Theme*/
.dark#myBody {
  background-color: #161c2d;
}
.dark.title__main myTexWhite {
  color: #fff;
}
/* .dark#myTexWhite {
  color: #fff;
} */
.dark .welcome .myWhiteTex {
  color: #fff;
}
.dark .headerNav__right a {
  color: #fff;
}
button .dark #switchButton {
  background-color: black;
  border: 1px solid white;
  transition: all 0.5s !important;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}
#switchButton:hover {
  color: #ff6e65;
}
.dark #switchButton .fa-moon {
  display: none;
}
/*! ===================   header__main */

.carousel__item {
  padding: 8em 5rem;
}
.carousel__info--bg {
  max-width: 600px;
}
.carousel__info .carousel__info--bg h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}
.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}
/*! ===== Neo header ===== */
.fixed-top {
  transition: all 0.4s ease 0s;
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
  top: 50px;
  background-color: #fff;
}
.nav-fixed {
  top: 0;
  padding: 0px;
  background-color: #fff;
  height: 100px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-bottom: none;
  z-index: 999 !important;
}
/*! ==================================== carousel */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff5722;
}
.carousel .owl-theme .owl-dots {
  position: absolute;
  right: 24px;
  bottom: 120px;
  background: none;
  display: flex;
  flex-direction: column;
}

.car .carousel__footer--content {
  display: grid;
}
/* .carousel__footer--content {
} */
/*! ==================================== intro */
.intro {
  position: relative;
  margin-top: -4em;
  z-index: 1;
}
.intro__item1 {
  background-color: #037ef3;
}
.intro__item2 {
  background-color: #ffc949;
}
.intro__item3 {
  background-color: #ff4f81;
}
.intro__item4 {
  background-color: #1ee697;
}
.intro__item--container {
  padding: 50px 35px;
  border-radius: 8px;
}
.intro__item--container i {
  font-size: 45px;
  color: #fff;
}
.intro__item--container h4 a {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
/*! ==================================== welcome */
.welcome__main span {
  font-size: 30px;
  color: #0d369f;
  background: rgb(13 54 159 / 9%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.welcome__main h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 0;
  transition: all 0.5s;
}
.welcome__main h3:hover {
  color: #ff6e65;
}
.welcome__main p {
  margin-top: 15px;
  margin-bottom: 0;
}
.welcome__title {
  max-width: 700px;
}
/*! ==================================== services */
.services {
  background-image: url(./../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.services__content--item {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}
.services__content--icon {
  margin-right: 1rem;
}
.services__content--icon i {
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  color: #0d369f;
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}
.services__content--text h5 {
  font-size: 20px;
  line-height: 30px;
  color: #060606;
  font-weight: 600;
  margin-bottom: 6px;
}
.services__content--text p {
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
  margin-bottom: 1rem;
}
/*! ==================================== number */
.number__title {
  max-width: 700px;
}
.number__main .number__main--box {
  border-right: 1px solid #eee;
}
.number__main .timer {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}
.number__main p {
  color: #060606;
}
.number__item {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}
/*! ==================================== feedBack */
.feedback__main--bg1 {
  padding: 0 15px;
}
.feedback__main--bg2 {
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}
.feedback__main--bg2 .fa {
  color: #ff6e65;
  font-size: 22px;
  line-height: 0.8;
}
.feedback__main--footer {
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  grid-gap: 5px;
  margin-top: 1.5em;
}
.feedback__main--footerLeft img {
  border-radius: 50%;
}
.feedback__main--footerRight h5 {
  font-weight: 600;
  line-height: 16px;
}
.feedback__main--footerRight p {
  color: #707070;
  font-size: 13px;
}
/*! ==================================== team */
.team__title {
  max-width: 700px;
}
.team {
  padding-bottom: 3rem !important;
}
.team__container {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}
.team__item--top img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  height: auto;
}
.team__img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.team__social {
  position: absolute;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  bottom: -100px;
  width: 100%;
  margin: 0;
  transition: 0.5s all;
  width: 100%;
  text-align: center;
}
.team .team__container:hover .team__social {
  bottom: 0;
}
.team__social i {
  background: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  border-radius: 50%;
  color: #0d369f;
  font-size: 14px;
  line-height: 28px;
}

/*! 
/*! ==================================== contact */
.contact__title {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}
.btn__contact {
  background: #ff6e65;
  color: #fff;
  transition: 0.3s ease-out;
}
/*! ==================================== footer */
.footer__sub {
  padding: 80px 0;
  background: #060e1f;
}
footer .footer__contact .footer__top {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer__top--left h4 {
  font-size: 35px;
  line-height: 40px;
  color: #060606;
  font-weight: 600;
}
.footer__top--left p {
  font-size: 15px;
  color: #707070;
  letter-spacing: 1px;
}
.footer__top--rightform .form-control:focus {
  outline: 0;
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}
.footer__top--rightform input {
  background-color: transparent;
  padding: 15px 20px;

  font-size: 16px;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #eee;
}

.footer__top--rightform button {
  background-color: #0d369f;
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

:not(.btn-check) + .btn:hover {
  background-color: #0d369f;
  color: #fff;
}
.footer__main h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
}
.footer__main .footer__main--sub {
  margin-top: 120px;
}

.footer__main .footer__main--row12 ul li a {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}
.footer__main--row12 ul li a::before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f101";
  position: absolute;
  left: 0px;
  font-size: 10px;
  color: #fff;
}
.footer__main--row3 span {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  vertical-align: middle;
  width: 25px;
}
.footer__main--row3 a {
  line-height: 25px;
  font-size: 15px;
  color: #cecece;
}
.footer__main--row3 ul li:nth-child(2) {
  margin-top: 10px;
  padding: 10px 0;
}
.footer__main--social ul li {
  display: inline-block;
  margin-right: 5px;
}
.footer__main--social ul li a {
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.footer__copyRight {
  background: #040a17;
  padding: 20px 0;
}
.footer__copyRight p {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
}
.footer__copyRight a {
  color: #fff;
}
/* BACK TO TOP */
.backToTop {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  background: #0d369f;
  position: fixed;
  right: 15px;
  bottom: 90px;
  color: white;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
