* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
}
/* css topheader  */

.topheader {
  background-color: #0d369f;
  padding: 15px 0;
}
.topheader__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topheader .topheader__title .topheader__left {
  display: flex;
}
.topheader .topheader__left .left__items {
  display: flex;
  color: white;
  line-height: 1;
  padding-right: 30px;
}
.topheader .topheader__left .left__items a {
  text-decoration: none;
  color: white;
  margin-bottom: 0 !important;
  transition: all 0.4s;
}
.topheader .topheader__left .left__items i {
  font-size: 16px;
  margin-right: 10px;
}
.topheader .topheader__left .left__items a:hover {
  color: #ff6e65;
}
.topheader .topheader__right {
  display: flex;
}
.topheader .topheader__right .right__items {
  padding-left: 30px;
  color: white;
  transition: all 0.4s;
}
.topheader .topheader__right .right__items:hover {
  color: #ff6e65;
}

a.dropdown-item.active{
  color: #ff6e65;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
a.dropdown-item:hover{
  color: #ff6e65 !important;
}
/* css header  */
header.navbar {
  background-color: white;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header nav .navbar-brand h2 {
  margin: 0 0 0 10px !important ;
  line-height: 2;
  transition: all 0.4s;
  color: #0d369f;
}
header nav .navbar-brand h2:hover {
  color: #ff6e65;
}
header nav .navbar-nav {
  font-size: 18px;
  font-weight: 500;

  margin-right: 10px;
}
header nav .navbar-nav .nav-item {
  margin-right: 20px;
  position: relative;
  transition: all 0.4s;
}
header nav .navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff6e65;
  margin-right: 20px;
  transition: all 0.4s;
  color: white;
}
header nav .navbar-nav .nav-item:hover::before{
  width: 100%;
  color: #ff6e65;
}

header nav .navbar-nav .nav-item.active .nav-link {
  color: #ff6e65 !important;
}

header nav .navbar-nav .nav-link:hover {
  color: #ff6e65 !important;
}

header nav .navbar-nav .nav-link .dropdown-menu
a.dropdown-item:hover{
color: #ff6e65 !important;
}
header .bottomheader .search-box input{
  border-radius: 20px;
  border: 2px solid #eee;
}
header .bottomheader .navbar-expend-lg .navbar-collapse .DarkLight i{
  font-size: 20px;
  color: #0d369f;
}
header .bottomheader .navbar-expend-lg .navbar-collapse .DarkLight i{
  font-size: 20px;
  color: #0d369f;
}
header .bottomheader .navbar-expend-lg
 .navbar-collapse .DarkLight i:hover{
  color: #ff6e65;
}



#switchButton {
  background-color: white;
#myBody
{
  background-color: white;
}
  border: 1px solid black;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
.dark #switchButton {
  background-color: black;
  border: 1px solid white;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* header .bottomheader .navbar-expand-lg .navbar-nav .nav-item .navlink:hover{
  color: #ff6e65;
} */


/* css banner  */
.banner {
  background-image: url(./../img/bg4.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: relative;
}
.banner .banner__title {
  align-items: center;
  padding: 40vh 5vh;
}
.banner .banner__title h3 {
  font-size: 25px;
  font-weight: 550;
  color: white;
}
.banner .banner__title a {
  text-decoration: none;
  color: #d4d4d4;
  transition: all 0.3s;
}
.banner .banner__title a:hover {
  color: #fff;
}

/* css content  */

.content {
  padding: 50px;
}
.content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .content__right {
   /* position: -webkit-sticky; */
  position: sticky;
  top: 100px;
  margin-bottom: 216px;
}
.content .content__left .content__bg__items {
  margin-bottom: 50px;
}
.content .content__left .content__bg__items .item {
  border: 1px solid #eee;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.content .content__left .content__bg__items img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.content .content__left .content__title ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}

.content .content__left .content__title li {
  list-style: none;
  font-size: 16px;
  line-height: 2;
}

.content .content__left .content__title a {
  text-decoration: none;
  color: #ff6e65;
  font-weight: 500;
}
.content .content__left .content__bg__items .item h3 {
  color: #060606;
  transition: all 0.4s;
  font-size: 25px;
}
.content .content__left .content__bg__items .item h3:hover {
  color: #ff6e65;
}
.content .content__left .content__bg__items .content__title i {
  color: #ff6e65;
  line-height: 2;
  padding-right: 10px;
}
.content .content__left .content__bg__items .content__title p {
  color: #707070;
}
.content .content__left .content__bg__items .next ul {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  text-decoration: none;
  list-style: none;
}
.content .content__left .content__bg__items .next .number__current {
  background-color: #ff6e65;
  padding: 8px 17px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
}
.content .content__left .content__bg__items .next li a {
  padding: 10px 18px;
  font-size: 20px;
  text-decoration: none;
  color: #060606;
  transition: all 0.4s;
  text-align: center;
}
.content .content__left .content__bg__items .next .elip:hover {
  background-color: #ff6e65;
  color: white;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}

.content .content__left .next li a:hover {
  background-color: #ff6e65;
  color: white;
  padding: 10px 18px;
  border-radius: 50%;
  text-align: center;
}

/* content right  */
.content .content__right .right__items {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 50px;
}
.content .content__right .item {
  margin: 20px;
  border-radius: 5px;
}
.content .content__right .item form {
  display: flex;
}
.content .content__right .item input {
  padding: 10px;
  border: 1px solid #eee;
  flex: 1 1 auto;
}
.content .content__right .item button {
  padding: 15px 20px;
  border: none;
  background-color: #0d369f;
  border-radius: 5px;
  color: white;
  transition: all 0.4s;
}
.content .content__right .item button:hover {
  background-color: #ff6e65;
}
.content .content__right .right__items h3 {
  font-size: 20px;
  font-weight: 600;
}
.content .content__right .right__items ul {
  list-style: none;
  padding-left: 0;
}
.content .content__right .right__items ul li {
  margin: 15px 0;
}
.content .content__right .right__items ul a {
  text-decoration: none;
  color: #707070;
  font-size: 16px;
  line-height: 25px;
  transition: all 0.4s;
}

.content .content__right .right__items ul a:hover {
  color: #ff6e65;
  /* background-color: #ff6e65; */
  text-decoration: underline;
}
.content .content__right .right__items .item__comment a {
  font-size: 18px;
  color: #ff6e65;
  font-weight: 600;
}

/* footer  */

footer {
  background-color: #060e1f;
  position: relative;
}

footer .footer__top {
  padding:20px 50px;
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__top .top__left {
  padding: 10px 20px;
  /* width: 50%; */
}
footer .footer__top .top__left h2 {
  font-size: 37px;
  font-weight: 500;
}
/* footer .footer__top .top__right {
  width: 50%;
} */
footer .footer__top .top__right form {
  display: flex;
  border: 1px solid #eee;
  border-radius: 10px;
}
footer .footer__top .top__right form input {
  flex: 1 1 auto;
  border: none;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px 0 0 10px;
}
footer .footer__top .top__right form button {
  width: 25%;
  padding: 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #eee;
  background-color: #0d369f;
  transition: all 0.4s;
}
footer .footer__top .top__right form button:hover {
  background-color: #517cea;
}

/* footer bottom  */
footer .footer__bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 170px 30px 50px;
}

footer .footer__bottom h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  margin-right: 30px;
}
/* footer .bottom__left{
  width: 70%;
  display: flex;
  border-right: 1px solid rgba(23, 54, 88, 0.4) ;
} */
footer .item {
  margin-bottom: 15px;
}
footer .item i:first-child,
footer .item i:nth-child(2) {
  font-size: 10px;
}
footer .item i:nth-child(3) {
  font-size: 15px;
}
footer .item a,
footer p {
  text-decoration: none;
  color: #cecece;
  line-height: 24px;
  font-size: 14px;
  transition: all 0.4s;
}

footer .item a:hover {
  color: white;
}

footer .item__touch {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 20px;
}

footer .item__touch .right__items {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.06);
  text-align: center;
  border-radius: 50%;
  margin-right: 15px;
}
footer .item__touch .right__items a {
  color: white;
  transition: all 0.4s;
}
footer .item__touch .right__items a:hover {
  background-color: transparent;
  color: #707070;
}

/* footer reserved  */
footer .footer__reserved {
  background-color: #040a17;
  padding: 15px 0;
  text-align: center;
}
footer .footer__reserved span {
  color: #cecece;
}

footer .footer__reserved span a {
  text-decoration: none;
  color: white;
  transition: all 0.4s;
}
footer .footer__reserved a:hover {
  text-decoration: underline;
}

/* css back_to_top  */
.back_top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #0d369f;
  text-align: center;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 70px;
}
.back_top:hover {
  opacity: 0.8;
}
.back_top i {
  color: white;
}
