* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
}
/* css topheader  */


/* css topheader  */

.topheader {
  background-color: #0d369f;
  padding: 15px 0;
}
.topheader__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topheader .topheader__title .topheader__left {
  display: flex;
}
.topheader .topheader__left .left__items {
  display: flex;
  color: white;
  line-height: 1;
  padding-right: 30px;
}
.topheader .topheader__left .left__items a {
  text-decoration: none;
  color: white;
  margin-bottom: 0 !important;
  transition: all 0.4s;
}
.topheader .topheader__left .left__items i {
  font-size: 16px;
  margin-right: 10px;
}
.topheader .topheader__left .left__items a:hover {
  color: #ff6e65;
}
.topheader .topheader__right {
  display: flex;
}
.topheader .topheader__right .right__items {
  padding-left: 30px;
  color: white;
  transition: all 0.4s;
}
.topheader .topheader__right .right__items:hover {
  color: #ff6e65;
}

a.dropdown-item.active{
  color: #ff6e65;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
a.dropdown-item:hover{
  color: #ff6e65 !important;
}
/* css header  */
header.navbar {
  background-color: white;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header nav .navbar-brand h2 {
  margin: 0 0 0 10px !important ;
  line-height: 2;
  transition: all 0.4s;
  color: #0d369f;
}
header nav .navbar-brand h2:hover {
  color: #ff6e65;
}
header nav .navbar-nav {
  font-size: 18px;
  font-weight: 500;

  margin-right: 10px;
}
header nav .navbar-nav .nav-item {
  margin-right: 20px;
  position: relative;
  transition: all 0.4s;
}
header nav .navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff6e65;
  margin-right: 20px;
  transition: all 0.4s;
  color: white;
}
header nav .navbar-nav .nav-item:hover::before{
  width: 100%;
  color: #ff6e65;
}

header nav .navbar-nav .nav-item.active .nav-link{
  color: #ff6e65 !important;
}

header nav .navbar-nav .nav-link:hover {
  color: #ff6e65 !important;
}

header nav .navbar-nav .nav-link .dropdown-menu
a.dropdown-item:hover{
color: #ff6e65 !important;
}
header .bottomheader .search-box input{
  border-radius: 20px;
  border: 2px solid #eee;
}
header .bottomheader .navbar-expend-lg .navbar-collapse .DarkLight i{
  font-size: 20px;
  color: #0d369f;
}
header .bottomheader .navbar-expend-lg .navbar-collapse .DarkLight i{
  font-size: 20px;
  color: #0d369f;
}
header .bottomheader .navbar-expend-lg
 .navbar-collapse .DarkLight i:hover{
  color: #ff6e65;
}




#switchButton {
  background-color: white;
#myBody
{
  background-color: white;
}
  border: 1px solid black;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
.dark #switchButton {
  background-color: black;
  border: 1px solid white;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: black;
  color: white;
  border: 1px solid white;
}


/* header .bottomheader .navbar-expand-lg .navbar-nav .nav-item .navlink:hover{
  color: #ff6e65;
} */


/* css carousel  */

.cybercarousel .carousel-indicators {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 15px !important;
  /* margin-right: 50px !important ; */
  margin-left: 96%;
  margin-bottom: 10%;
}
.carousel-indicators .active {
  background-color: red;
}
.cybercarousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 10px;
  border: none;
  z-index: 2222;
}

.cybercarousel .carousel-inner {
 max-height: 90vh;
}

.cybercarousel .carousel-inner .carousel-item {
  height: 100%;
  position: relative;
}
.cybercarousel .carousel-inner .carousel-item img {
  filter: brightness(0.85);
  margin-top: 150px;
}
.cybercarousel .carousel-inner .carousel-item .carousel__banner {
  position: absolute;
  top: 180px;
  left: 50px;
  bottom: 0;
  right: 0;
  text-align: left;
  align-items: center;
  max-width: 600px;
  
}
.cybercarousel .carousel-inner .carousel__banner h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}
.cybercarousel .carousel-inner .carousel__banner button {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 45px;
  transition: all 0.4s;
}
.cybercarousel .carousel-inner .carousel__banner button a {
  text-decoration: none;
  color: #060e1f;
  font-weight: 600;
}
.cybercarousel .carousel-inner .carousel__banner button:hover {
  background-color: #ff6e65;
}

/* content  */

.content .container {
  max-width: 1200px;
}
.content .row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -70px;
}
.content .content__items {
  /* height: 250px; */
  line-height: 110px;
  text-align: center;
}
.content .content__items .zone {
  border-radius: 10px;
  padding: 20px 30px;
}
.content .content__items .item1 {
  background-color: #037ef3;
}
.content .content__items .item2 {
  background-color: #ffc949;
}
.content .content__items .item3 {
  background-color: #ff4f81;
}
.content .content__items .item4 {
  background-color: #1ee697;
}
.content .content__items i {
  font-size: 35px;
  color: white;
}
.content .content__items h3 {
  color: white;
  transition: all 0.4s;
}

.content .content__items h3:hover {
  color: black;
}

/* welcome  */
.welcome {
  margin: 20px 40px 70px;
}
.welcome .welcome__title {
  margin-bottom: 50px;
}
.welcome .welcome__title .sub__title span {
  color: #ff6e65;
}
.welcome .welcome__title h2 {
  font-size: 40px;
  position: relative;
}

.welcome .welcome__title h2.sub__title::before {
  content: "";
  position: absolute;
  right: 48%;
  bottom: -10px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}
.welcome .welcome__title h2.sub__title::after {
  content: "";
  position: absolute;
  right: 47%;
  bottom: -16px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}
.welcome .welcome__items i {
  font-size: 25px;
  color: #0d369f;
  padding: 20px 0;
  width: 70px;
  height: 70px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(13 54 159 / 9%);
}
.welcome .welcome__items .welcome__subtitle {
  margin: 20px 0;
}
.welcome .welcome__items .welcome__subtitle a {
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: 500;
  transition: all 0.4s;
}
.welcome .welcome__items .welcome__subtitle a:hover {
  color: #ff6e65;
}

.welcome .welcome__items .welcome__subtitle p {
  color: #707070;
  font-size: 16px;
  margin: 10px 0;
}


/* css banner  */
.banner {
  /* height: 100vh; */
  background-image: url(./../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  /* background-attachment: fixed; */
  background-size: initial;
  padding: 100px 30px 100px 35%;
}
.banner .row {
  padding-top: 6px;
}
.banner .row .banner__items {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}
.banner .row .banner__items i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #e9edf6;
  text-align: center;
  color: #0d369f;
  font-size: 25px;
  margin-right: 20px;
}
.banner .row .banner__items h3 {
  font-size: 22px;
}
.banner .row .banner__items p {
  font-size: 16px;
  color: #707070;
  line-height: 28px;
}


/* number  */

.number {
  margin: 100px 0;
  text-align: center;
}
.number .number__title {
  margin: 50px 0;
}
.number .number__title h2 span {
  color: #ff6e65;
}
.number .number__title h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
}
.number .number__title h2::before {
  content: "";
  position: absolute;
  right: 48%;
  bottom: -10px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}

.number .number__title h2::after {
  content: "";
  position: absolute;
  right: 47%;
  bottom: -16px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}

.number .number__title p {
  font-size: 18px;
  font-weight: 350;
  color: #707070;
}
.number .number__items h2 {
  font-size: 50px;
  font-weight: 600;
}
.number .number__items p {
  font-size: 18px;
  font-weight: 350;
  text-transform: uppercase;
  /* color: #707070; */
}

/* feedback  */
.feedback {
  margin: 70px 0;
}
.feedback .feedback__title {
  text-align: center;
  margin: 100px;
}
.feedback .feedback__title h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
}
.feedback .feedback__title h2 span {
  color: #ff6e65;
}
.feedback .feedback__title h2::before {
  content: "";
  position: absolute;
  right: 48%;
  bottom: -10px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}
.feedback .feedback__title h2::after {
  content: "";
  position: absolute;
  right: 47%;
  bottom: -16px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}

.feedback .row {
  margin: 10px 25px auto;
}
.feedback .feedback__items {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.feedback .feedback__items i {
  font-size: 30px;
  color: #ff6e65;
  text-align: left;
}
.feedback .feedback__items p {
  font-size: 18px;
  font-weight: 350;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
.feedback .feedback__items .feedback__subtitle {
  display: flex;
}
.feedback .feedback__items .feedback__subtitle img {
  border-radius: 50%;
  width: 60px;
  height: 60%;
  margin-right: 20px;
}
.feedback .feedback__items .feedback__subtitle .title h3 {
  margin-bottom: 0;
  font-size: 22px;
}
.feedback .feedback__items .feedback__subtitle .title p {
  font-size: 14px;
}

/* css instructor  */

.instructor {
  margin: 50px 0;
}
.instructor .instructor__title {
  /* margin: 50px 0; */
  text-align: center;
  position: relative;
}
.instructor .instructor__items .instructor__title .instructor__overlay {
  position: absolute;
  background-color: rgb(8 8 8 / 29%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s;
  padding-top: 15px;
}
.instructor .instructor__items:hover .instructor__title .instructor__overlay {
  opacity: 1;
}

.instructor .instructor__items .overlay__icon {
  transform: translateY(30px);
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  margin: 0 5px;
}
.instructor .instructor__items:hover .overlay__icon {
  transform: translate(0);
}
.instructor .instructor__items .overlay__icon i{
color: #0d369f;
}

.instructor .instructor__title h2 span{
  color: #ff6e65;
}
.instructor .instructor__title h2 {
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.instructor .instructor__title h2::before {
  content: "";
  position: absolute;
  right: 48%;
  bottom: -10px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}

.instructor .instructor__title h2::after{
  content: "";
  position: absolute;
  right: 47%;
  bottom: -16px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}
.instructor .row {
  margin: 60px 0;
}
.instructor .row .instructor__content .instructor__items{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.instructor .row .instructor__content .instructor__items img{
width: 100%;
border-radius: 10px 10px 0 0;
}
.instructor .instructor__items .instructor__subtitle{
  padding: 15px 0;
 text-align: center;
}
.instructor .instructor__items .instructor__subtitle h3{
  font-size: 22px;
}
.instructor .instructor__items .instructor__subtitle p{
  font-size: 13px;
  font-weight: 400;
  color: #707070;
}
.instructor .instructor__items:hover h3{
color: #ff6e65;
}


/* css contact  */
.contact {
  margin: 50px 0;
}
.contact .contact__title{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.contact .contact__title .contact__left{
  /* padding-left: 50px; */
}
.contact .contact__left h2{
  font-weight: 550;
  margin-bottom: 50px;
}
.contact .contact__left .contact__left__items{
  display: flex;
  /* line-height: 2; */
  margin-bottom: 30px;
}
.contact .contact__left .contact__left__items i{
  font-size: 18px;
  color: #ff6e65;
  margin-right: 15px;
  line-height: 2;
}
.contact .contact__left .contact__left__items h4{
  font-size: 18px;
}
.contact .contact__left .contact__left__items p{
  color: #707070;
  font-weight: 400;
  font-size: 16px;
}

.contact .contact__left .contact__left__items a{
  text-decoration: none;
  color: #707070;
  font-weight: 400;
  transition: all 0.3s;
}

.contact .contact__left .contact__left__items a:hover{
  color: #ff6e65;
}

/* .contact .contact__right {
  background-color: white;
  padding-right: 5px;
} */
.contact .contact__right .right {
  border: 10px solid white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);

}


/* question  */
.question {
  margin-bottom: 170px;
  text-align: center;
}
.question .question__title {
  margin: 50px 0;
}
.question .question__title h2 {
  font-size: 42px;
  font-weight: 500;
  position: relative;
}
.question .question__title h2.sub__title::before {
  content: "";
  position: absolute;
  right: 48%;
  bottom: -10px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}
.question .question__title h2.sub__title::after {
  content: "";
  position: absolute;
  right: 47%;
  bottom: -16px;
  width: 60px;
  height: 2px;
  background-color: #707070;
}
.question .question__title h2 .content {
  color: #ff6e65;
}
.question .row {
  max-width: 1000px;
  margin: 0 auto;
}
.question .row .question__left img {
  width: 100%;
  border-radius: 10px;
}
/* .question .row .question__right {
  /* width: 60%; */
  /* padding: 60px 0; */
/* } */ 
.question .row .question__right form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.question .row .question__right form input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.question .row .question__right form .textarea {
  padding: 15px;
  font-size: 20px;
  resize: none;
  border: none;
}
.question .row .question__right form button {
  padding: 15px 20px;
  border: none;
  margin-right: 60%;
  font-size: 18px;
  font-weight: 600;
  background-color: #ff6e65;
  color: #fff;
  transition: all 0.4s;
}
.question .row .question__right form button:hover {
  background-color: #0d369f;
}


/* footer  */

footer {
  background-color: #060e1f;
  position: relative;
}

footer .footer__top {
  padding:20px 50px;
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__top .top__left {
  padding: 10px 20px;
  /* width: 50%; */
}
footer .footer__top .top__left h2 {
  font-size: 37px;
  font-weight: 500;
}
/* footer .footer__top .top__right {
  width: 50%;
} */
footer .footer__top .top__right form {
  display: flex;
  border: 1px solid #eee;
  border-radius: 10px;
}
footer .footer__top .top__right form input {
  flex: 1 1 auto;
  border: none;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px 0 0 10px;
}
footer .footer__top .top__right form button {
  width: 25%;
  padding: 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #eee;
  background-color: #0d369f;
  transition: all 0.4s;
}
footer .footer__top .top__right form button:hover {
  background-color: #517cea;
}

/* footer bottom  */
footer .footer__bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 170px 30px 50px;
}

footer .footer__bottom h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  margin-right: 30px;
}
/* footer .bottom__left{
  width: 70%;
  display: flex;
  border-right: 1px solid rgba(23, 54, 88, 0.4) ;
} */
footer .item {
  margin-bottom: 15px;
}
footer .item i:first-child,
footer .item i:nth-child(2) {
  font-size: 10px;
}
footer .item i:nth-child(3) {
  font-size: 15px;
}
footer .item a,
footer p {
  text-decoration: none;
  color: #cecece;
  line-height: 24px;
  font-size: 14px;
  transition: all 0.4s;
}

footer .item a:hover {
  color: white;
}

footer .item__touch {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 20px;
}

footer .item__touch .right__items {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.06);
  text-align: center;
  border-radius: 50%;
  margin-right: 15px;
}
footer .item__touch .right__items a {
  color: white;
  transition: all 0.4s;
}
footer .item__touch .right__items a:hover {
  background-color: transparent;
  color: #707070;
}

/* footer reserved  */
footer .footer__reserved {
  background-color: #040a17;
  padding: 15px 0;
  text-align: center;
}
footer .footer__reserved span {
  color: #cecece;
}

footer .footer__reserved span a {
  text-decoration: none;
  color: white;
  transition: all 0.4s;
}
footer .footer__reserved a:hover {
  text-decoration: underline;
}


/* css back_to_top  */
.back_top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #0d369f;
  text-align: center;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 70px;
}
.back_top:hover {
  opacity: 0.8;
}
.back_top i {
  color: white;
}
